*{
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #28A745;
}
nav img {
  width: 86px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  color: #212529;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  color:#707070;
}

p {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  color: #707070;
}

.price, .desc-price {
  display: inline-block;
}

.desc-price {
  color: #28A745;
  font-weight: bold;
}

footer .contact {
  background-color: #28A745;
  min-height: 241px;
}

.contact h3 {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: normal;
}

form {
  width: 90%;
}

.btn {
  margin: auto;
}

footer img {
  width: 82px;

}
